# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.eggs/

# Virtual environments
.venv/
venv/
env/

# OS / editor cruft
.DS_Store
.Rhistory
*.swp

# Jupyter
.ipynb_checkpoints/
*_executed.ipynb
